/* Universal Selector */
* {
    margin:0;
    padding:0;  
}

a {
    color:rgb(202, 110, 24);
    text-decoration-line: none;
    font-weight: bold;
}


title {
    display: none;
  }

h1,
h2,
h3 {
    text-align: center;
}
.display-inline {
    display: inline;
}

header,
footer {
    width: 100%;
    background-color: rgb(44, 95, 78);
    line-height: 60px;
    height: 60px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0px;
    font-size: 24px;
    word-spacing: 50px;
    border-bottom: 15px solid beige;
    margin: 20px;
}

body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    background-color: #FDF8F5;
    color: #4F4846;
  }

input {
    box-sizing: border-box;
    width: 300px;
    border: 1px solid #4F4846;
}

form {
    /* Center the form on the page, margin: 0 auto is useful for horizontal centering - the object sit centreally within its parent */
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    /* border-radius rounds the corners of an element's outer border edge */
    border-radius: 20px;
    border: 5px solid #DDAF94;
 
  }

.block-1 {
    background-color: cadetblue;
    margin: 20px;
    padding: 20px;
    border: 9px solid darkorange;
    width: 100px;
    height: 100px;
    position: relative;
    left: 150px;
    top: 150px;
}

.container {
    width: 500px;
    height: 500px;
    margin: 20 auto;
    border: 15px solid darkorange;
    background-color: cadetblue;
}

footer {
     /* footer's parent is the body, it should be at the bottom  - why does it goes to the bottom with the bottom property */
    position: absolute;
    margin-top: 0;
    border-bottom: 10px solid #4F4846;
    color: #b65d2a;    
    bottom: 0;
 }

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}